# extracted yaml files
# *.yaml
# /furniture_info

# FreeCAD files
# /FCDocument
/output

.idea
# debugging
*__pycache__*
# *.txt
# vscode setting json
/.vscode
*.json

*test*
*temp*

/assembly
/assembly_document